openapi: 3.0.1
info:
  title: weclapp api
  contact:
    name: weclapp
    url: https://www.weclapp.com
    email: support@weclapp.com
  version: "1"
servers:
- url: https://www.weclapp.com/webapp/api/v1
security:
- API token: []
paths:
  /accountingTransaction:
    get:
      tags:
      - accountingTransaction
      description: query accountingTransaction
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: accountingTransaction response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/accountingTransaction'
  /accountingTransaction/count:
    get:
      tags:
      - accountingTransaction
      description: count accountingTransaction
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /accountingTransaction/id/{id}:
    get:
      tags:
      - accountingTransaction
      description: query accountingTransaction
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/accountingTransaction'
  /archivedEmail:
    get:
      tags:
      - archivedEmail
      description: query archivedEmail
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: archivedEmail response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/archivedEmail'
  /archivedEmail/count:
    get:
      tags:
      - archivedEmail
      description: count archivedEmail
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /archivedEmail/id/{id}:
    get:
      tags:
      - archivedEmail
      description: query archivedEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/archivedEmail'
    delete:
      tags:
      - archivedEmail
      description: delete a archivedEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: archivedEmail delete response
          content: {}
  /article:
    get:
      tags:
      - article
      description: query article
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: article response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/article'
    post:
      tags:
      - article
      description: create a article
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/article'
        required: true
      responses:
        201:
          description: article create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/article'
      x-codegen-request-body-name: body
  /article/count:
    get:
      tags:
      - article
      description: count article
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /article/id/{id}:
    get:
      tags:
      - article
      description: query article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/article'
    put:
      tags:
      - article
      description: update article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/article'
        required: true
      responses:
        200:
          description: article update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/article'
      x-codegen-request-body-name: body
    delete:
      tags:
      - article
      description: delete a article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: article delete response
          content: {}
  /article/id/{id}/downloadArticleImage:
    get:
      tags:
      - article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: articleImageId
        in: query
        required: true
        schema:
          type: string
      - name: preview
        in: query
        schema:
          type: boolean
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: downloadArticleImage response
          content: {}
  /article/id/{id}/downloadMainArticleImage:
    get:
      tags:
      - article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: preview
        in: query
        schema:
          type: boolean
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: downloadMainArticleImage response
          content: {}
  /article/id/{id}/uploadArticleImage:
    post:
      tags:
      - article
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: mainImage
        in: query
        schema:
          type: boolean
      responses:
        200:
          description: uploadArticleImage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties: {}
  /articleAccountingCode:
    get:
      tags:
      - articleAccountingCode
      description: query articleAccountingCode
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: articleAccountingCode response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - articleAccountingCode
      description: create a articleAccountingCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: articleAccountingCode create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /articleAccountingCode/count:
    get:
      tags:
      - articleAccountingCode
      description: count articleAccountingCode
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /articleAccountingCode/id/{id}:
    get:
      tags:
      - articleAccountingCode
      description: query articleAccountingCode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - articleAccountingCode
      description: update articleAccountingCode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: articleAccountingCode update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - articleAccountingCode
      description: delete a articleAccountingCode
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: articleAccountingCode delete response
          content: {}
  /articleCategory:
    get:
      tags:
      - articleCategory
      description: query articleCategory
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: articleCategory response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/articleCategory'
    post:
      tags:
      - articleCategory
      description: create a articleCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/articleCategory'
        required: true
      responses:
        201:
          description: articleCategory create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleCategory'
      x-codegen-request-body-name: body
  /articleCategory/count:
    get:
      tags:
      - articleCategory
      description: count articleCategory
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /articleCategory/id/{id}:
    get:
      tags:
      - articleCategory
      description: query articleCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleCategory'
    put:
      tags:
      - articleCategory
      description: update articleCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/articleCategory'
        required: true
      responses:
        200:
          description: articleCategory update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleCategory'
      x-codegen-request-body-name: body
    delete:
      tags:
      - articleCategory
      description: delete a articleCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: articleCategory delete response
          content: {}
  /articleCategory/id/{id}/downloadImage:
    get:
      tags:
      - articleCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      - name: imageId
        in: query
        schema:
          type: string
      responses:
        200:
          description: downloadImage response
          content: {}
  /articleCategory/id/{id}/uploadImage:
    post:
      tags:
      - articleCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: uploadImage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties: {}
  /articlePrice:
    get:
      tags:
      - articlePrice
      description: query articlePrice
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: articlePrice response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/articlePrice'
  /articlePrice/count:
    get:
      tags:
      - articlePrice
      description: count articlePrice
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /articlePrice/id/{id}:
    get:
      tags:
      - articlePrice
      description: query articlePrice
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articlePrice'
  /articleRating:
    get:
      tags:
      - articleRating
      description: query articleRating
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: articleRating response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - articleRating
      description: create a articleRating
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: articleRating create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /articleRating/count:
    get:
      tags:
      - articleRating
      description: count articleRating
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /articleRating/id/{id}:
    get:
      tags:
      - articleRating
      description: query articleRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - articleRating
      description: update articleRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: articleRating update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - articleRating
      description: delete a articleRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: articleRating delete response
          content: {}
  /articleSupplySource:
    get:
      tags:
      - articleSupplySource
      description: query articleSupplySource
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: articleSupplySource response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/articleSupplySource'
    post:
      tags:
      - articleSupplySource
      description: create a articleSupplySource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/articleSupplySource'
        required: true
      responses:
        201:
          description: articleSupplySource create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleSupplySource'
      x-codegen-request-body-name: body
  /articleSupplySource/count:
    get:
      tags:
      - articleSupplySource
      description: count articleSupplySource
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /articleSupplySource/id/{id}:
    get:
      tags:
      - articleSupplySource
      description: query articleSupplySource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleSupplySource'
    put:
      tags:
      - articleSupplySource
      description: update articleSupplySource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/articleSupplySource'
        required: true
      responses:
        200:
          description: articleSupplySource update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/articleSupplySource'
      x-codegen-request-body-name: body
  /batchNumber:
    get:
      tags:
      - batchNumber
      description: query batchNumber
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: batchNumber response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/batchNumber'
  /batchNumber/count:
    get:
      tags:
      - batchNumber
      description: count batchNumber
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /batchNumber/id/{id}:
    get:
      tags:
      - batchNumber
      description: query batchNumber
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batchNumber'
  /blanketPurchaseOrder:
    get:
      tags:
      - blanketPurchaseOrder
      description: query blanketPurchaseOrder
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: blanketPurchaseOrder response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/blanketPurchaseOrder'
    post:
      tags:
      - blanketPurchaseOrder
      description: create a blanketPurchaseOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blanketPurchaseOrder'
        required: true
      responses:
        201:
          description: blanketPurchaseOrder create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blanketPurchaseOrder'
      x-codegen-request-body-name: body
  /blanketPurchaseOrder/count:
    get:
      tags:
      - blanketPurchaseOrder
      description: count blanketPurchaseOrder
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /blanketPurchaseOrder/id/{id}:
    get:
      tags:
      - blanketPurchaseOrder
      description: query blanketPurchaseOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blanketPurchaseOrder'
    put:
      tags:
      - blanketPurchaseOrder
      description: update blanketPurchaseOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blanketPurchaseOrder'
        required: true
      responses:
        200:
          description: blanketPurchaseOrder update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blanketPurchaseOrder'
      x-codegen-request-body-name: body
    delete:
      tags:
      - blanketPurchaseOrder
      description: delete a blanketPurchaseOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: blanketPurchaseOrder delete response
          content: {}
  /blanketPurchaseOrder/id/{id}/downloadLatestBlanketPurchaseOrderPdf:
    get:
      tags:
      - blanketPurchaseOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: downloadLatestBlanketPurchaseOrderPdf response
          content: {}
  /blanketPurchaseOrder/id/{id}/generateReleases:
    post:
      tags:
      - blanketPurchaseOrder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              required:
              - firstScheduledDeliveryDate
              - fixReleasedQuantity
              - repeatInterval
              - repeatType
              type: object
              properties:
                firstScheduledDeliveryDate:
                  type: integer
                  format: timestamp
                repeatInterval:
                  type: integer
                  format: int32
                repeatType:
                  type: string
                  enum:
                  - DAY
                  - MONTH
                  - WEEK
                  - YEAR
                fixReleasedQuantity:
                  type: boolean
                releasedQuantity:
                  type: string
                  format: number
        required: true
      responses:
        200:
          description: generateReleases response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/blanketPurchaseOrder'
      x-codegen-request-body-name: body
  /campaign:
    get:
      tags:
      - campaign
      description: query campaign
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: campaign response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/campaign'
    post:
      tags:
      - campaign
      description: create a campaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaign'
        required: true
      responses:
        201:
          description: campaign create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign'
      x-codegen-request-body-name: body
  /campaign/count:
    get:
      tags:
      - campaign
      description: count campaign
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /campaign/id/{id}:
    get:
      tags:
      - campaign
      description: query campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign'
    put:
      tags:
      - campaign
      description: update campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaign'
        required: true
      responses:
        200:
          description: campaign update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaign'
      x-codegen-request-body-name: body
    delete:
      tags:
      - campaign
      description: delete a campaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: campaign delete response
          content: {}
  /campaignParticipant:
    get:
      tags:
      - campaignParticipant
      description: query campaignParticipant
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: campaignParticipant response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/campaignParticipant'
    post:
      tags:
      - campaignParticipant
      description: create a campaignParticipant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignParticipant'
        required: true
      responses:
        201:
          description: campaignParticipant create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaignParticipant'
      x-codegen-request-body-name: body
  /campaignParticipant/count:
    get:
      tags:
      - campaignParticipant
      description: count campaignParticipant
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /campaignParticipant/id/{id}:
    get:
      tags:
      - campaignParticipant
      description: query campaignParticipant
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaignParticipant'
    put:
      tags:
      - campaignParticipant
      description: update campaignParticipant
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignParticipant'
        required: true
      responses:
        200:
          description: campaignParticipant update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaignParticipant'
      x-codegen-request-body-name: body
    delete:
      tags:
      - campaignParticipant
      description: delete a campaignParticipant
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: campaignParticipant delete response
          content: {}
  /cashAccount:
    get:
      tags:
      - cashAccount
      description: query cashAccount
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: cashAccount response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/cashAccount'
  /cashAccount/count:
    get:
      tags:
      - cashAccount
      description: count cashAccount
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /cashAccount/id/{id}:
    get:
      tags:
      - cashAccount
      description: query cashAccount
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cashAccount'
  /comment:
    get:
      tags:
      - comment
      description: query comment
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: comment response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/comment'
    post:
      tags:
      - comment
      description: create a comment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment'
        required: true
      responses:
        201:
          description: comment create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
      x-codegen-request-body-name: body
  /comment/count:
    get:
      tags:
      - comment
      description: count comment
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /comment/id/{id}:
    get:
      tags:
      - comment
      description: query comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
    put:
      tags:
      - comment
      description: update comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/comment'
        required: true
      responses:
        200:
          description: comment update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comment'
      x-codegen-request-body-name: body
    delete:
      tags:
      - comment
      description: delete a comment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: comment delete response
          content: {}
  /commercialLanguage:
    get:
      tags:
      - commercialLanguage
      description: query commercialLanguage
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: commercialLanguage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/commercialLanguage'
  /commercialLanguage/count:
    get:
      tags:
      - commercialLanguage
      description: count commercialLanguage
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /commercialLanguage/id/{id}:
    get:
      tags:
      - commercialLanguage
      description: query commercialLanguage
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commercialLanguage'
  /companySize:
    get:
      tags:
      - companySize
      description: query companySize
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: companySize response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - companySize
      description: create a companySize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: companySize create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /companySize/count:
    get:
      tags:
      - companySize
      description: count companySize
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /companySize/id/{id}:
    get:
      tags:
      - companySize
      description: query companySize
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - companySize
      description: update companySize
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: companySize update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - companySize
      description: delete a companySize
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: companySize delete response
          content: {}
  /contact:
    get:
      tags:
      - contact
      description: query contact
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: contact response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/contact'
    post:
      tags:
      - contact
      description: create a contact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: true
      responses:
        201:
          description: contact create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
      x-codegen-request-body-name: body
  /contact/count:
    get:
      tags:
      - contact
      description: count contact
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /contact/id/{id}:
    get:
      tags:
      - contact
      description: query contact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
    put:
      tags:
      - contact
      description: update contact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/contact'
        required: true
      responses:
        200:
          description: contact update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
      x-codegen-request-body-name: body
    delete:
      tags:
      - contact
      description: delete a contact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: contact delete response
          content: {}
  /contact/id/{id}/downloadImage:
    get:
      tags:
      - contact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: downloadImage response
          content: {}
  /contact/id/{id}/uploadImage:
    post:
      tags:
      - contact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: uploadImage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties: {}
  /costCenter:
    get:
      tags:
      - costCenter
      description: query costCenter
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: costCenter response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/costCenter'
  /costCenter/count:
    get:
      tags:
      - costCenter
      description: count costCenter
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /costCenter/id/{id}:
    get:
      tags:
      - costCenter
      description: query costCenter
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/costCenter'
  /costCenterGroup:
    get:
      tags:
      - costCenterGroup
      description: query costCenterGroup
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: costCenterGroup response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - costCenterGroup
      description: create a costCenterGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: costCenterGroup create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /costCenterGroup/count:
    get:
      tags:
      - costCenterGroup
      description: count costCenterGroup
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /costCenterGroup/id/{id}:
    get:
      tags:
      - costCenterGroup
      description: query costCenterGroup
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - costCenterGroup
      description: update costCenterGroup
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: costCenterGroup update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - costCenterGroup
      description: delete a costCenterGroup
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: costCenterGroup delete response
          content: {}
  /currency:
    get:
      tags:
      - currency
      description: query currency
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: currency response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/currency'
  /currency/companyCurrency:
    get:
      tags:
      - currency
      responses:
        200:
          description: companyCurrency response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/currency'
  /currency/count:
    get:
      tags:
      - currency
      description: count currency
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /currency/id/{id}:
    get:
      tags:
      - currency
      description: query currency
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency'
  /customAttributeDefinition:
    get:
      tags:
      - customAttributeDefinition
      description: query customAttributeDefinition
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customAttributeDefinition response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customAttributeDefinition'
  /customAttributeDefinition/count:
    get:
      tags:
      - customAttributeDefinition
      description: count customAttributeDefinition
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customAttributeDefinition/id/{id}:
    get:
      tags:
      - customAttributeDefinition
      description: query customAttributeDefinition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customAttributeDefinition'
  /customer:
    get:
      tags:
      - customer
      description: query customer
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customer response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customer'
    post:
      tags:
      - customer
      description: create a customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer'
        required: true
      responses:
        201:
          description: customer create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
      x-codegen-request-body-name: body
  /customer/count:
    get:
      tags:
      - customer
      description: count customer
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customer/id/{id}:
    get:
      tags:
      - customer
      description: query customer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
    put:
      tags:
      - customer
      description: update customer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customer'
        required: true
      responses:
        200:
          description: customer update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customer'
      x-codegen-request-body-name: body
    delete:
      tags:
      - customer
      description: delete a customer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: customer delete response
          content: {}
  /customer/id/{id}/downloadImage:
    get:
      tags:
      - customer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: downloadImage response
          content: {}
  /customer/id/{id}/uploadImage:
    post:
      tags:
      - customer
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: uploadImage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties: {}
  /customerCategory:
    get:
      tags:
      - customerCategory
      description: query customerCategory
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customerCategory response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - customerCategory
      description: create a customerCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: customerCategory create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /customerCategory/count:
    get:
      tags:
      - customerCategory
      description: count customerCategory
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customerCategory/id/{id}:
    get:
      tags:
      - customerCategory
      description: query customerCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - customerCategory
      description: update customerCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: customerCategory update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - customerCategory
      description: delete a customerCategory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: customerCategory delete response
          content: {}
  /customerLeadLossReason:
    get:
      tags:
      - customerLeadLossReason
      description: query customerLeadLossReason
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customerLeadLossReason response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - customerLeadLossReason
      description: create a customerLeadLossReason
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: customerLeadLossReason create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /customerLeadLossReason/count:
    get:
      tags:
      - customerLeadLossReason
      description: count customerLeadLossReason
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customerLeadLossReason/id/{id}:
    get:
      tags:
      - customerLeadLossReason
      description: query customerLeadLossReason
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - customerLeadLossReason
      description: update customerLeadLossReason
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: customerLeadLossReason update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - customerLeadLossReason
      description: delete a customerLeadLossReason
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: customerLeadLossReason delete response
          content: {}
  /customerTopic:
    get:
      tags:
      - customerTopic
      description: query customerTopic
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customerTopic response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - customerTopic
      description: create a customerTopic
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: customerTopic create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /customerTopic/count:
    get:
      tags:
      - customerTopic
      description: count customerTopic
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customerTopic/id/{id}:
    get:
      tags:
      - customerTopic
      description: query customerTopic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - customerTopic
      description: update customerTopic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: customerTopic update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - customerTopic
      description: delete a customerTopic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: customerTopic delete response
          content: {}
  /customsTariffNumber:
    get:
      tags:
      - customsTariffNumber
      description: query customsTariffNumber
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: customsTariffNumber response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - customsTariffNumber
      description: create a customsTariffNumber
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: customsTariffNumber create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /customsTariffNumber/count:
    get:
      tags:
      - customsTariffNumber
      description: count customsTariffNumber
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /customsTariffNumber/id/{id}:
    get:
      tags:
      - customsTariffNumber
      description: query customsTariffNumber
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - customsTariffNumber
      description: update customsTariffNumber
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: customsTariffNumber update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - customsTariffNumber
      description: delete a customsTariffNumber
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: customsTariffNumber delete response
          content: {}
  /document:
    get:
      tags:
      - document
      description: query document
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: document response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/document'
  /document/count:
    get:
      tags:
      - document
      description: count document
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /document/id/{id}:
    get:
      tags:
      - document
      description: query document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
    put:
      tags:
      - document
      description: update document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/document'
        required: true
      responses:
        200:
          description: document update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/document'
      x-codegen-request-body-name: body
    delete:
      tags:
      - document
      description: delete a document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: document delete response
          content: {}
  /document/id/{id}/download:
    get:
      tags:
      - document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: download response
          content: {}
  /document/id/{id}/downloadDocumentVersion:
    get:
      tags:
      - document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: downloadDocumentVersion response
          content: {}
  /document/id/{id}/upload:
    post:
      tags:
      - document
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: comment
        in: query
        schema:
          type: string
      responses:
        200:
          description: upload response
          content: {}
  /document/upload:
    post:
      tags:
      - document
      parameters:
      - name: entityName
        in: query
        required: true
        schema:
          type: string
      - name: entityId
        in: query
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: description
        in: query
        schema:
          type: string
      responses:
        200:
          description: upload response
          content: {}
  /externalConnection:
    get:
      tags:
      - externalConnection
      description: query externalConnection
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: externalConnection response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/externalConnection'
  /externalConnection/count:
    get:
      tags:
      - externalConnection
      description: count externalConnection
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /externalConnection/id/{id}:
    get:
      tags:
      - externalConnection
      description: query externalConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/externalConnection'
  /fulfillmentProvider:
    get:
      tags:
      - fulfillmentProvider
      description: query fulfillmentProvider
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: fulfillmentProvider response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/fulfillmentProvider'
  /fulfillmentProvider/count:
    get:
      tags:
      - fulfillmentProvider
      description: count fulfillmentProvider
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /fulfillmentProvider/id/{id}:
    get:
      tags:
      - fulfillmentProvider
      description: query fulfillmentProvider
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fulfillmentProvider'
  /incomingGoods:
    get:
      tags:
      - incomingGoods
      description: query incomingGoods
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: incomingGoods response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/incomingGoods'
    post:
      tags:
      - incomingGoods
      description: create a incomingGoods
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/incomingGoods'
        required: true
      responses:
        201:
          description: incomingGoods create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/incomingGoods'
      x-codegen-request-body-name: body
  /incomingGoods/count:
    get:
      tags:
      - incomingGoods
      description: count incomingGoods
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /incomingGoods/id/{id}:
    get:
      tags:
      - incomingGoods
      description: query incomingGoods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/incomingGoods'
    put:
      tags:
      - incomingGoods
      description: update incomingGoods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/incomingGoods'
        required: true
      responses:
        200:
          description: incomingGoods update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/incomingGoods'
      x-codegen-request-body-name: body
  /incomingGoods/id/{id}/createCompensationShipment:
    post:
      tags:
      - incomingGoods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        200:
          description: createCompensationShipment response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/shipment'
      x-codegen-request-body-name: body
  /incomingGoods/id/{id}/createCreditNote:
    post:
      tags:
      - incomingGoods
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        200:
          description: createCreditNote response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/salesInvoice'
      x-codegen-request-body-name: body
  /lead:
    get:
      tags:
      - lead
      description: query lead
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: lead response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/lead'
    post:
      tags:
      - lead
      description: create a lead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lead'
        required: true
      responses:
        201:
          description: lead create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead'
      x-codegen-request-body-name: body
  /lead/count:
    get:
      tags:
      - lead
      description: count lead
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /lead/id/{id}:
    get:
      tags:
      - lead
      description: query lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead'
    put:
      tags:
      - lead
      description: update lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/lead'
        required: true
      responses:
        200:
          description: lead update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/lead'
      x-codegen-request-body-name: body
    delete:
      tags:
      - lead
      description: delete a lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: lead delete response
          content: {}
  /lead/id/{id}/convertLeadToCustomer:
    get:
      tags:
      - lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: convertLeadToCustomer response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/customer'
  /lead/id/{id}/downloadImage:
    get:
      tags:
      - lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: scaleWidth
        in: query
        schema:
          type: integer
          format: int32
      - name: scaleHeight
        in: query
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: downloadImage response
          content: {}
  /lead/id/{id}/uploadImage:
    post:
      tags:
      - lead
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: uploadImage response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties: {}
  /leadRating:
    get:
      tags:
      - leadRating
      description: query leadRating
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: leadRating response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - leadRating
      description: create a leadRating
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: leadRating create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /leadRating/count:
    get:
      tags:
      - leadRating
      description: count leadRating
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: count
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: integer
                    format: int64
  /leadRating/id/{id}:
    get:
      tags:
      - leadRating
      description: query leadRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        200:
          description: get by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
    put:
      tags:
      - leadRating
      description: update leadRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        200:
          description: leadRating update response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
    delete:
      tags:
      - leadRating
      description: delete a leadRating
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        204:
          description: leadRating delete response
          content: {}
  /leadSource:
    get:
      tags:
      - leadSource
      description: query leadSource
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: sort
        in: query
        schema:
          type: string
      responses:
        200:
          description: leadSource response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/customValue'
    post:
      tags:
      - leadSource
      description: create a leadSource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/customValue'
        required: true
      responses:
        201:
          description: leadSource create response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customValue'
      x-codegen-request-body-name: body
  /leadSource/count:
    get:
      tags:
      - leadSource
      description: count leadSource
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: pageSize
        in: query
        schema:
[...]
